joblib==1.3.1
pandas==2.0.3
numpy==1.25.1
streamlit==1.26.0
plotly==5.18.0
seaborn==0.12.2
matplotlib==3.7.2
scikit-learn==1.3.2
xgboost==2.0.2
lightgbm==3.3.2
catboost==1.2.2
#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